{% extends 'base.html' %}
{% block title %} ჩვენ შესახებ {% endblock %}
{% block content%}
<div class="card rounded mx-auto d-block" style="width: 65rem;">
    <img src="/static/aboutus1.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">ჩვენ შესახებ</h5>
        <p class="card-text">ჩვენი თავშესაფარი წარმოადგენს ადგილს, სადაც სიყვარულითა და ზრუნვით ვხვდებით ოთხფეხა
            მეგობრებს, რომლებსაც დახმარება სჭირდებათ. ჩვენი მისიაა, თითოეული ძაღლი, რომელსაც სახლი აკლია, მოვუფრთხილდეთ,
            გავუზიაროთ სითბო და ვიპოვოთ მათთვის მუდმივი და საიმედო ოჯახი.

            ჩვენი გუნდი შეყვარებულია ცხოველებზე და მათ კეთილდღეობაზე. ჩვენ ვუზრუნველყოფთ ძაღლების სწორ კვებას,
            სამედიცინო დახმარებას და სოციალურ ადაპტაციას, რათა თითოეულ მათგანს ჰქონდეს საუკეთესო შანსი ბედნიერი
            ცხოვრების დასაწყებად.

            თუ გსურთ გახდეთ ჩვენი დიდი ოჯახის წევრი, მოხალისეობით დაგვეხმაროთ, ან იპოვოთ ახალი ოთხფეხა მეგობარი, მუდამ
            გელით ჩვენი თავშესაფრის კართან. ერთად ჩვენ შეგვიძლია შევცვალოთ მათი ცხოვრება უკეთესობისკენ!

            გიყვარდეთ, იზრუნეთ, იშვილეთ</p>
    </div>
</div>

{% endblock %}