{% extends "base.html"%}
{% block title %} Home {% endblock %}
{% block content%}
<h1>
    ჩვენი თავშესაფრის ძაღლები
</h1>

<div style="display: flex; justify-content: center; flex-direction: row; flex-wrap:wrap; gap: 32px;">
    {% for dog in dogs %}
    <div class="card" style="width: 23rem; border-radius: 1.2rem; background-color:rgb(240,240,240)">
        <img src="../static/{{dog['img']}}" class="card-img-top" alt="..."
             style="margin-top: 10px; border-radius: 1.2rem">
        <div class="card-body">
            <h5 class="card-title">{{dog.name}}</h5>
            <p class="card-text">{{dog.breed}}</p>
            <a href="/show_details/{{dog['id']}}" class="btn btn-alert"
               style="background-color: rgb(90, 160, 255); font-weight: 600">
                <img src="../static/logo-removebg.png" width="22px" height="18px">
                აყვანა
            </a>
            <button type="button" class="btn text-dark"
                    style="background-color: rgb(120, 200, 255)">სქესი:{{dog.gender}}
            </button>
            <button type="button" class="btn text-dark"
                    style="background-color: rgb(120, 200, 255)">ასაკი:{{dog.age}}
            </button>
            {% if current_user.is_authenticated%}
                {% if current_user.role == "admin" %}
                    <a href="/edit/{{dog.id}}" class="btn btn-warning">
                        <img src="../static/edit-removebg-preview.png" width="22px" height="18px">
                        Edit
                    </a>
                    <a href="/delete/{{dog.id}}" class="btn btn-danger">
                        Delete
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
